/* imported from fonts.google.com with selected fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* to do Nav */

.hero {
    background-image: url(images/coffee-8405076_1280.jpg);
    /* viewport height takes up entire screen 100vh */
    background-repeat: no-repeat;
    /* size and position makes entire pic fit onto the screen perfectly */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}
/* before pseudo selector */
.hero::before {
    content: '';
    /* position:absolute to be over the entire thing(Hero) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* z-index brings the text forward */
    z-index: -1;
}

.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    /* top, left, right will make it goo all the way across */
    left: 0;
    right: 0;
    /* transition all properties .3s ease.. effect */
    transition: all .3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all .3s ease-in-out;
}

.nav ul {
    /* will put the nav items in a row */
    display: flex;
    /* gets rid of any bullet points */
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

/* for the links: */
.nav a {
    color: #fff;
    /* to get rid oof the underline */
    text-decoration: none;
    /* to space them out */
    padding: 7px 15px;
    transition: all .3s ease-in-out;
}

/* when it's reached a certain point, changes to white and shortens */
.nav.active{
    background-color: #fff;
}

.nav.active a{
    color: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* shortens the nav bar when you scroll up */
.nav.active .container {
    padding: 10px 0;
}

/* if the a tag has a class of current OR if the nav tag is being hovered*/
.nav a.current, .nav a:hover{
    color: #c0392b;
    font-weight: bold;
}
.hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, .content h3 {
    font-size: 150%;
    /* margin 10px top and bottom, 0 L and R */
    margin: 20px 0;
}

.content p{
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}